nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 48px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.nav__noodles, .nav__type {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: rgb(95,99,103);
    font-weight: 500;
    padding: 0px 17px;
}

nav span {
    padding: 14px 17px;
}

nav li:hover span:hover {
    background-color: rgba(0,0,0,0.1);
}

nav li:active span:active {
    border-bottom: 1px solid rgb(26,115,232);
    color: rgb(66,133,243);
    background-color: ;
}

.nav__noodles {
    height: 46px;
    width: 45%;
    float: left;
}
.nav__type {
    height: 46px;
    width: 45%;
    float: right;
}

.fa-arrow-right-arrow-left {
    width: 10%;
}
