.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nav__noodles, .nav__type {
    display: flex;
}

.nav__noodles li, .nav__type li {
    padding: 0px 17px;
}

.nav a {
    text-decoration: none;
    color: rgb(119,123,126);
    padding: 14px 16px;
}

.nav__noodles a:hover, .nav__type a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgb(119,123,126);
}

.nav__noodles a:hover, .nav__type a:hover {
    color: rgb(29,114,232);
    border-bottom: 1px solid rgb(29,114,232);
}

.nav__switch i {
    padding: 0;
    border: none;
    background: none;
    size: 100px;
    color: rgb(119,123,126);
    padding: 14px 16px;
}

.nav__switch i:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgb(119,123,126);
    border-radius: 50px;
}