.context__output {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.context__output div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.context__output img {
    width: 70px;
    height: 70px;
}

.context__output span {
    padding-top: 10px;
    font-size: 14px;
    color: rgb(119,123,126);
}
